<h1>Check-In</h1>

<p>Please, enter you private number</p>
<%= form_with(model: @employer, local:true) do |form| %>
  <div class="field">
    <%= form.label :private_number %>
    <%= form.number_field :privatenumber %>
  </div>

    <%= form.submit %>
<% end %>



